<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del nuevo Individuo</title>
</head>

<body>
    <header th:replace="Plantilla/plantilla :: encabezado"></header>
    <h2>[[#{individuo.tabla}]]</h2>
    <a th:href="@{/}">[[#{boton.retroceder}]]</a>
    <br/>
    <form th:action="@{/salvar}" method="post" th:object="${individuo}">
        <input type="hidden" name="id_individuo" th:field="*{id_individuo}"/>
        
        <label for="nombre">[[#{individuo.nombre}]]: </label>
        <input type="text" name="nombre" th:field="*{nombre}"/>
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
            Error en Nombre
        </span>
        <br/>

        <label for="apellido">[[#{individuo.apellido}]]: </label>
        <input type="text" name="apellido" th:field="*{apellido}"/>
        <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">
            Error en Apellido
        </span>
        <br/>

        <label for="edad">[[#{individuo.edad}]]: </label>
        <input type="number" name="edad" th:field="*{edad}"/>
        <span th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}">
            Error en Edad
        </span>
        <br/>
        
        <label for="correo">[[#{individuo.correo}]]: </label>
        <input type="email" name="correo" th:field="*{correo}"/>
        <span th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">
            Error en correo
        </span>
        <br/>

        <label for="telefono">[[#{individuo.telefono}]]: </label>
        <input type="tel" name="telefono" th:field="*{telefono}"/>
        <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">
            Error en Telefono
        </span>
        <br/>

        <input type="submit" name="salvar" th:value="#{boton.salvar}"/>
    </form>

    <footer th:replace="Plantilla/plantilla :: piepagina"/>
</body>

</html>