<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicio</title>
</head>
<body>
    <header th:replace="Plantilla/plantilla :: encabezado"></header>
    <h2>Inicio</h2>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/anexar}">[[#{individuo.anexar}]]</a>
    <div th:if="${individuos != null and !individuos.empty}">
        <table border="2">
            <tr>
                <th>[[#{individuo.nombre}]]</th>
                <th>[[#{individuo.apellido}]]</th>
                <th>[[#{individuo.edad}]]</th>
                <th>[[#{individuo.correo}]]</th>
                <th>[[#{individuo.telefono}]]</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{boton.modificar}]]</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{boton.borrar}]]</th>
            </tr>
            <tr th:each="individuo : ${individuos}">
                <td th:text="${individuo.nombre}"></td>
                <td th:text="${individuo.apellido}"></td>
                <td th:text="${individuo.edad}"></td>
                <td th:text="${individuo.correo}"></td>
                <td th:text="${individuo.telefono}"></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/cambiar/} + ${individuo.id_individuo}" th:text="Cambiar"/></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/borrar/} + ${individuo.id_individuo}" th:text="Borrar"/></td>
            </tr>
        </table>
    </div>
    <div th:if="${individuos == null or individuos.empty}">
        [[#{individuo.lista-sin-info}]]
    </div>

    <footer th:replace="Plantilla/plantilla :: piepagina"></footer>
</body>
</html>